:root {
    --white: #FBEAFF;
    --primary-color: #845EC2;
    --secundary-color: #B39CD0;
    --tertiary-color: #00C9A7;
    --black: #000;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--white);
    font-family: 'Galindo', cursive;
    color: var(--black)
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    color: var(--primary-color);
    margin: 30px;
    text-align: center;
}
p{
    padding: 10px;
}
.containerCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--secundary-color);
    border-radius: 40px;
    width: 80%;
    padding: 30px;
}
#containerRandom{
    height: 400px;
}
#containerRandom div{
    width: 80%;
    display: flex;
    justify-content: space-around;
}
.card{
    background-color: var(--primary-color);
    border-radius: 10px;
    height: 300px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 10px;
    
}
.card .catPicture{
    width: 190px;
    max-height: 200px;
    position: absolute;
    top: 30px
}
.card .Btn{
    width: 50px;
    position: absolute;
    bottom: 10px;
}
#containerRandom .randomButton{
    width: 90px;
}
h2{
    color: var(--primary-color);
    margin: 20px;
}
#favoritesMichis{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-bottom: 30px;
    justify-items: center;
}
span{
    display: none;
}
@media (max-width: 640px) {
    .card .catPicture{
        width: calc(100% - 10px);
    }
    #favoritesMichis{
        grid-template-columns: auto auto;
    }
    #favoritesMichis .card{
        width: 95%;
    }
    #uploadMichi form{
        width: 90%;
    }
}
@media (min-width: 1200px){
    .containerCard{
        width: 50%;
    }
}